.bookshelf {
    background-color: var(--color-white);
    grid-column: full-start / full-end;

    display: flex;
    flex-direction: column;
    padding: 5vw 0;
}
.heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vw;
    color: var(--color-gray-dark-3);
    align-self: center;
    margin-bottom: 2.5vw;
}

.books {
    display: flex;
    justify-content: space-evenly;
}