.section-falcon {
    grid-column: center-start / center-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.falcon--description {
   width: 50%;
   min-width: 300px;
   font-size: 1.6rem;
   color: var(--color-gray-dark-3);
}

@media only screen and (max-width: 615px) {
    .section-falcon {
        justify-content: center;
    }
    .falcon--description {
        text-align: center;
     }
}